#btn1{
    left:20px;
    top: 20px;
    position: absolute;
    display: block;
    width: 120px;
}
#btn2{
    left:140px;
    top: 20px;
    position: absolute;
    display: block;
    width: 120px;
}
#btn21{
    left:300px;
    top: 20px;
    position: absolute;
    display: block;
    width: 120px;
}
#btn22{
    left:420px;
    top: 20px;
    position: absolute;
    display: block;
    width: 120px;
}
#btn3{
    left:20px;
    top: 50px;
    position:absolute;
    display: block;
    width: 120px;
}
#btn4{
    left:140px;
    top: 50px;
    position: absolute;
    display: block;
    width: 120px;
}
#btn41{
    left:300px;
    top: 50px;
    position: absolute;
    display: block;
    width: 120px;
}
#btn42{
    left:420px;
    top: 50px;
    position: absolute;
    display: block;
    width: 120px;
}
#btn5{
    left:20px;
    top: 80px;
    position: absolute;
    display: block;
    width: 120px;
}
#btn6{
    left: 140px;
    top: 80px;
    position: absolute;
    display: block;
    width: 120px;
}
#btn61{
    left: 300px;
    top: 80px;
    position: absolute;
    display: block;
    width: 120px;
}
#btn62{
    left: 420px;
    top: 80px;
    position: absolute;
    display: block;
    width: 120px;
}



p{
    cursor: pointer;
}
button{
    cursor:pointer;
}



